<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mongo Scraper</title>
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="#"></script>
</head>

<body>
  <div class="container">
    <nav class="nav">
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/saved">Saved</a>
      <a class="nav-link" href="/scrape">Scrape</a>
    </nav>

    <div class="jumbotron">
      <h1>Mongo Scraper</h1>
      <h3>NBA News</h3>
    </div>

    {{{ body }}}

  </div>
</body>

</html>
